<?xml version="1.0"?>
<!-- Pruebas unitarias: no requieren WordPress (las funciones de WP se simulan con Brain Monkey). -->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/php/Unit/bootstrap.php"
	colors="true"
	beStrictAboutOutputDuringTests="true"
	failOnRisky="true"
	failOnWarning="true"
>
	<testsuites>
		<testsuite name="unit">
			<directory>tests/php/Unit</directory>
		</testsuite>
	</testsuites>
</phpunit>
